/* Global styles */
* {
  font-family: 'IRANSANS', sans-serif;
}

/* Body styling */
body {
  font-family: 'IRANSANS', sans-serif;
}

/* Body container styling */
.body {
  background-color: #292929;
  direction: rtl;
  z-index: -1;
  height: 100vh;
}

/* CSS custom properties (variables) for consistent theming */
:root {
  --primary: #c5a46d;
  --dark: #2c2c2c;
  --light: aliceblue;
}

/* Container styling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Container styling */
.container>form {
  background-color: #292929;
  box-shadow: rgba(197, 164, 109, 0.3) 0px 0px 40px, rgba(0, 0, 0, 0.5) 0px 20px 40px;  
  width: 450px;
  border-radius: 15px;
  margin-top: 150px;
  padding-top: 25px;
  transition: 600ms;
  margin-bottom: 27px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Container hover effect */
.container>form:hover {
  transition: 600ms;
  box-shadow: rgba(197, 164, 109, 0.3) 10px 20px 40px;
}

.form-icon {
  width: 150px;
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-bottom: 10px;
}

/* Home link styling */
.form__color-text-home {
    text-align: center;
    margin-top: 5px;
}

/* Home link styling */
.back-home__link {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}


.form-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -25px;
}

/* Form label styling */
.form-label {
  justify-self: start;
  align-self: start;
  color: var(--light);
  margin-bottom: 10px;
  font-size: 16px;
  padding-top: 5px;
}

/* Form input styling */
.form-input {
  background-color: color-mix(in oklab, var(--color-black) 50%, transparent);
  outline: none;
  color: var(--light);
  border: 3px solid #4a5565;
  width: 100%;
  height: 45px;
  padding-right: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
  transition: 600ms;
}

/* Form input hover effect */
.form-input:hover {
  transition: 600ms;
  border: 3px solid #67573C;
}

/* Form input placeholder styling */
.form-input::placeholder {
  color: var(--light);
  font-size: 15px;
}

/* Form input focus styling */
.form-input:focus {
  transition: 600ms;
  box-shadow: #605643 5px 5px 10px;
  border: 3px solid var(--primary);
}

.form-button{
  width: 60%;
  height: 50px;
  font-size: 16px;
  margin-bottom: 25px;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 5px;
  transition: 600ms;
}

.form-button:hover{
  box-shadow: #605643 5px 5px 10px;
  transition: 600ms;
}
