@import url("../Cart/cart.css");

:root {
    --primary: #c5a46d;
    --dark: #1c1c1c;
    --light: aliceblue;
}

/* Styles for the main discount section title container */
.main__discount>.container__main-title {
    text-align: center;
    margin: 0px 0;
    position: relative;
}

/* Main title styling with gradient text */
.main__discount>.container__main-title>.main-title {
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

/* Creates an animated line on the right side of the title */
.main__discount>.container__main-title>.main-title::after {
    content: "";
    position: absolute;
    left: 225px;
    top: 10px;
    width: 160px;
    height: 3px;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    margin: 15px auto 0 auto;
    border-radius: 10px;
    animation: shine 2s infinite linear;
}

/* Creates an animated line on the left side of the title */
.main__discount>.container__main-title>.main-title::before {
    content: "";
    position: absolute;
    right: 225px;
    top: 10px;
    width: 160px;
    height: 3px;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    margin: 15px auto 0 auto;
    border-radius: 10px;
    animation: shine 2s infinite linear;
}

/* Keyframes for the shining animation on the title lines */
@keyframes shine {
    0% {
        box-shadow: 0 0 5px var(--primary);
    }

    50% {
        box-shadow: 0 0 20px #e6d3a3;
    }

    100% {
        box-shadow: 0 0 5px var(--primary);
    }
}

/* Ensures the Owl Carousel stage flows left-to-right */
.owl-stage-outer {
    direction: ltr;
}

/* Base styling for the Owl Carousel container */
#owl-product {
    display: block;
    /* display: flex; */
}

/* Styling for individual product items in the carousel */
#owl-product>.item-box {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 500px;
    height: 100%;
    border: 3px solid var(--primary);
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: none;
}

/* Removes border from the details section inside carousel items */
#owl-product>.item-box>.item-box__details {
    border: none;

}

/* Styling for images inside the Owl Carousel items */
.owl-carousel>.item-box>img {
    width: 90%;
    margin-right: -px;
    border: none;
}

/* Sets the direction for price containers to right-to-left */
.container-price {
    direction: rtl;
    margin-bottom: 10px;
}

.div-price {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-margin {
    margin-left: 40px;
    color: #aaa;
    font-weight: 650;
}

.price-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.price-text {
    font-size: 17px;
}