:root {
    --primary: #C49A6C;
    --dark: #1e1e1e;
    --background-color-dark: #111110;
    --font-color-for-dark: #FFFFFF;
    --font-color-for-light: #1D1915;
    --font-color-navbar-light: #6B6158;
    --font-color-navbar-dark: #7A7068;
    --background-color-navbar-light: #FFFFFF;
    --background-color-navbar-dark: #1A1917;
    --background-color-btn-dark: #181614;
    --background-color-btn-light: #F9F9F9;
    --border-color-dark: #35312C;
    --border-color-light: #DAD5CC;
    --font-family: 'IRANSANS', sans-serif;
}

.body {
    /* background-color: var(--font-color-for-dark); */
    background-color: var(--background-color-dark);
}

.container {
    padding-bottom: 60px;
    padding-top: 61px;
    color: var(--font-color-for-dark);
    text-align: center;
}

.top-big-text {
    margin-bottom: -15px;
    margin-top: 50px;
}


.forms-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 25px;
}

.form {
    grid-column: 2/3;
    height: 570px;
    width: 600px;
    background-color: var(--background-color-navbar-dark);
    border: 1px solid var(--border-color-dark);
    border-radius: 10px;
    /* padding-top: 8px; */
}

.form-div-text {
    display: flex;
    text-align: right;
    flex-direction: column;
    padding-right: 25px;
    /* margin-bottom: 25px; */
}

.top-form-text {
    justify-self: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-div-inputs {
    display: flex;
    text-align: right;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 15px;
    gap: 5px;
}

.form-label {
    color: var(--font-color-navbar-dark);
    justify-self: start;
    font-size: 12px;
}

.form-input {
    background-color: #1F1D1B;
    border-radius: 8px;
    width: 540px;
    height: 40px;
    border: 1px solid var(--border-color-dark);
    outline: none;
    color: var(--font-color-for-dark);
    direction: rtl;
    padding-right: 10px;
}

.form-text-area {
    background-color: #1F1D1B;
    border-radius: 8px;
    border: 1px solid var(--border-color-dark);
    outline: none;
    color: var(--font-color-for-dark);
    /* width: 550px; */
    resize: none;
    padding: 10px;
    direction: rtl;
}

.form-btn {
    background-color: var(--primary);
    border-radius: 5px;
    width: 540px;
    height: 45px;
    border: none;
    outline: none;
    color: var(--font-color-for-dark);
    font-family: "IRANSANS", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark);
    margin-top: 12.5px;
}

.form-btn-icon {
    color: var(--dark);
    /* margin-top: ; */
}









.data-section {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 600px;
    /* background-color: #fff; */
    justify-self: end;
}

.call-data {
    width: 600px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-color: var(--background-color-navbar-dark);
    border: 1px solid var(--border-color-dark);
    border-radius: 10px;
    margin-bottom: 20px;
}

.top-text {
    align-self: end;
    margin-right: 40px;
}

.call-data-div-parents {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 10px;
}

.call-data-div {
    display: flex;
    direction: rtl;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}

.call-data-div-icon {
    width: 45px;
    height: 45px;
    background-color: #2f2b28;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.call-data-icons {
    color: var(--primary);
    font-size: 20px;
}

.call-data-div-texts {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.call-data-top-text {
    color: var(--font-color-navbar-dark);
    font-size: 13px;
    margin-bottom: -20px;
}

.call-data-text-info {
    display: flex;
    /* margin-right: -15px; */
}


.questions {
    width: 600px;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: var(--background-color-navbar-dark);
    border: 1px solid var(--border-color-dark);
    border-radius: 10px;
}

.questions-top-text {
    margin-right: 40px;
}

.question-div-container {
    direction: rtl;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-right: 40px;
}

.question-texts {
    color: var(--font-color-navbar-dark);
    font-size: 15px;
    margin-top: -10px;
}

.question-texts-highlight {
    color: var(--font-color-for-dark);
}















/* /////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */

















@media screen and (max-width: 520px) {
    .forms-parent {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .form {
        display: grid;
        grid-row: 2/3;
        grid-column: auto;
        width: 350px;
        justify-self: center;
        margin-left: 10px;
        margin-top: -60px;
    }

    .form-div-text {
        width: 59%;
    }

    .top-form-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form-div-inputs {
        width: 83%;
        text-align: right;
        flex-direction: column;
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 15px;
        gap: 5px;
    }

    .form-label {
        color: var(--font-color-navbar-dark);
        justify-self: start;
        align-self: auto;
        font-size: 12px;
    }

    .form-input {
        width: 290px;
        height: 40px;
        direction: rtl;
        padding-right: 10px;
    }

    .form-text-area {
        width: 280px;
    }

    .form-div-inputs {
        text-align: right;
        flex-direction: column;
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 15px;
        gap: 5px;
    }

    .form-btn {
        width: 300px;
        height: 45px;
        /* display: flex; */
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .data-section {
        grid-row: 1/2;
        grid-column: auto;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-self: center;
        justify-content: end;
        margin-top: 150px;
    }

    .call-data {
        width: 350px;
        display: flex;
        align-self: center;
        margin-right: -10px;
        margin-top: -220px;
    }

    .questions {
        margin-top: -10px;
        margin-right: -10px;
        width: 350px;
        align-self: center;
    }
}



















@media screen and (min-width: 521px) and (max-width: 680px) {

    .forms-parent {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }
    
        .form {
            display: grid;
            grid-row: 2/3;
            grid-column: auto;
            width: 350px;
            justify-self: center;
            margin-left: 10px;
            margin-top: -60px;
        }
    
        .form-div-text {
            width: 59%;
        }
    
        .top-form-text {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .form-div-inputs {
            width: 83%;
            text-align: right;
            flex-direction: column;
            padding-right: 25px;
            padding-left: 25px;
            margin-bottom: 15px;
            gap: 5px;
        }
    
        .form-label {
            color: var(--font-color-navbar-dark);
            justify-self: start;
            align-self: auto;
            font-size: 12px;
        }
    
        .form-input {
            width: 290px;
            height: 40px;
            direction: rtl;
            padding-right: 10px;
        }
    
        .form-text-area {
            width: 280px;
        }
    
        .form-div-inputs {
            text-align: right;
            flex-direction: column;
            padding-right: 25px;
            padding-left: 25px;
            margin-bottom: 15px;
            gap: 5px;
        }
    
        .form-btn {
            width: 300px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            margin-top: 0px;
            margin-bottom: 15px;
        }
    
        .data-section {
            grid-row: 1/2;
            grid-column: auto;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-self: center;
            justify-content: end;
            margin-top: 150px;
        }
    
        .call-data {
            width: 500px;
            display: flex;
            align-self: center;
            margin-right: -10px;
            margin-top: -220px;
        }
    
        .questions {
            margin-top: -10px;
            margin-right: -10px;
            width: 500px;
            align-self: center;
        }
}















@media screen and (min-width: 681px) and (max-width: 1080px) {

    .forms-parent {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .form {
        display: grid;
        grid-row: 2/3;
        grid-column: auto;
        width: 350px;
        justify-self: center;
        margin-left: 10px;
        margin-top: -60px;
    }

    .form-div-text {
        width: 59%;
    }

    .top-form-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form-div-inputs {
        width: 83%;
        text-align: right;
        flex-direction: column;
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 15px;
        gap: 5px;
    }

    .form-label {
        color: var(--font-color-navbar-dark);
        justify-self: start;
        align-self: auto;
        font-size: 12px;
    }

    .form-input {
        width: 290px;
        height: 40px;
        direction: rtl;
        padding-right: 10px;
    }

    .form-text-area {
        width: 280px;
    }

    .form-div-inputs {
        text-align: right;
        flex-direction: column;
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 15px;
        gap: 5px;
    }

    .form-btn {
        width: 300px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .data-section {
        grid-row: 1/2;
        grid-column: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        justify-content: end;
        margin-top: 150px;
    }

    .call-data {
        width: 500px;
        display: flex;
        align-self: center;
        margin-right: -10px;
        margin-top: -220px;
    }

    .questions {
        margin-top: -10px;
        margin-right: -10px;
        width: 500px;
        align-self: center;
    }
}