@import url("../Default/default.css");
@import url("../Header/header.css");
@import url("../Product/product.css");
@import url("../Footer/footer.css");
@import url("../Cart/cart.css");
@import url("../Advantage/advantage.css");
@import url("../AboutUs/AboutUs.css");
@import url("../Edit-profile/Edit-profile.css");
@import url("../Swiper/swiper.css");
@import url("../Scrollbar/Scrollbar.css");
@import url("../Responsive/responsive.css");