/* CSS custom properties (variables) for consistent theming */
:root {
    --primary: #c5a46d;
    --dark: #1c1c1c;
    --light: rgb(212, 212, 212);
    --red: red;
}

.white{
    color: var(--light);
}

html {
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #c5a46d #2c2c2c;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #c5a46d;
  border-radius: 10px;
}

/* Base styles for the body element */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    overflow-x: hidden;
}

/* Anchor tag styling */
a {
    color: var(--light);
    text-decoration: none;
}

/* List item styling */
li {
    list-style: none;
}

/* Container for primary heart icon */
.container-icon__heart-primary {
    color: var(--primary);
}

.container-icon__heart-primary-home {
    color: var(--primary);
    width: 30px;
    height: 30px;
    padding-top: 6px;
}

/* Container for light heart icon */

.container-icon__heart-light {
    color: var(--light);
}

/* Container for light header icon */
.container-icon__header-light{
    color: var(--light);
    width: 30px;
    height: 30px;
}

.container-icon__header-primary_input{
    color: var(--primary);
}

/* Container for navigation icon */
.container-icon__nav {
    width: 100%;
    height: 30px;
    color: var(--primary);
}

/* Container for header icon */
.container-icon__header {
    width: 30px;
    height: 30px;
    color: var(--primary);
}

/* Container for header icon position */
.container-icon__header-position {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    color: var(--primary);
}

/* Logo styling */
.logo {
    width: 200px;
    height: 73px;
    margin-top: 10px;
}

/* The SubTitle */
.title-parent {
    text-align: center;
    margin: 5px 0;
    position: relative;
}

/* Title styling */
.title {
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

/* Decorative line after title */
.title::after {
    content: "";
    position: absolute;
    left: 315px;
    top: 10px;
    width: 160px;
    height: 3px;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    margin: 15px auto 0 auto;
    border-radius: 10px;
    animation: shine 2s infinite linear;
}

/* Decorative line before title */
.title::before {
    content: "";
    position: absolute;
    right: 315px;
    top: 10px;
    width: 160px;
    height: 3px;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    margin: 15px auto 0 auto;
    border-radius: 10px;
    animation: shine 2s infinite linear;
}

/* Keyframes for shine animation */
@keyframes shine {
    0% {
        box-shadow: 0 0 5px var(--primary);
    }

    50% {
        box-shadow: 0 0 20px #e6d3a3;
    }

    100% {
        box-shadow: 0 0 5px var(--primary);
    }
}

/* Color styling */
.color {
    color: var(--primary);
}

.header-log {
    width: 95px;
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 0 25px;
    margin-left: 50px;
    transition: all 600ms;
}

.header-log:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in;
    color: var(--primary);
    box-shadow: 0 0 20px rgba(249, 194, 100, 0.9);
}

.header-log:hover .header__log-hover {
    color: var(--primary);
    transition: all 600ms;
}

.header-profile {    
    width: fit-content;
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    margin: 0 auto 0 40px;
    transition: all 600ms;
}

.link-profile__header{
    padding: 5px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-profile:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in-out;
    color: var(--primary);
    box-shadow: 0 0 20px rgba(249, 194, 100, 0.9);
}

.header-profile:hover .profile-name-user{
    transition: all 600ms ease-in-out;
    color: var(--primary);
}

.header-profile:hover .header__log-hover {
    color: var(--primary);
    transition: all 600ms;
}


.profile_user{
    width: 50px;
    height: 50px;
}

.profile-name-user{
    margin-left: 10px;
}
