@import url('responsive.css');

.title::before {
    content: "";
    position: absolute;
    right: 225px;
    top: 10px;
    width: 160px;
    height: 3px;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    margin: 15px auto 0 auto;
    border-radius: 10px;
    animation: shine 2s infinite linear;
}

.title::after {
    content: "";
    position: absolute;
    left: 225px;
    top: 10px;
    width: 160px;
    height: 3px;
    background: linear-gradient(90deg, #c5a46d, #e6d3a3);
    margin: 15px auto 0 auto;
    border-radius: 10px;
    animation: shine 2s infinite linear;
}

.content-advantage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container-advantage {
    text-align: center;
    margin: 15px;
}

.items-bottom {
    width: 100%;
    border-right: 3px solid var(--primary);
}

.border-bottom {
    border-bottom: 3px solid var(--primary);
}

.item-advantage {
    margin: 15px 15px 0 15px;
    padding: 15px 15px 0 15px;
    height: 227px;
}

.icon-advantage {
    font-size: 44px;
    color: var(--primary);
}

.title-item__text {
    font-weight: bold;
    color: var(--primary);
}

.description-item__advantage {
    color: var(--dark);
}