@import url("responsive.css");
.items-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 0px 35px;
}

.img-box {
    object-fit: cover;
    width: 98.5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 3px solid var(--primary);
    border-bottom: none;
}

.item-box {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.item-box__details {
    background-color: var(--dark);
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid var(--primary);
    border-top: none;
}

.title-box {
    color: var(--primary);
    padding: 5px;
    margin: 5px;
}

.description-box {
    color: var(--light);
    padding: 5px 10px;
    margin: 5px;
}

.container-price {
    display: flex;
    justify-content: start;
    
}

.price-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--light);
    margin: 5px 30px 5px 0;
}

.price-text{
    margin: 10px;
    color: var(--light);
    font-size: 20px;
    font-weight: 800;
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5px 20px;
}

.btn-boxes {
    background-color: var(--primary);
    padding: 10px 15px;
    border: 3px solid var(--light);
    border-radius: 7px;
    transition: all 600ms ease-in;
}

.btn-boxes:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in;
    color: var(--primary);

}

@media screen and (max-width:499px) {

    .title-parent{
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .title::before{
        display: block;
        right: 38%;
        top: 25px;
        width: 100px;
    }

    .title::after{
        display: block;
        left: 35%;
        top: -25px;
        width: 100px;
    }

    .items-box{
        grid-template-columns: 1fr;
    }
}