:root{
    --primary :#c5a46d ;
    --dark :#1c1c1c ;
    --light :aliceblue;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:var(--light);
}
a {
    color: var(--light);
    text-decoration: none;
}