@import url("./default.css");

* {
    font-family: 'IRANSANS', sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid var(--primary);
    height: 110px;
    color: var(--light);
}

.header-log {
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 0 40px;
    margin-left: 50px;
}

header {
    background: url('../assets/img/header/pexels-castorlystock-3829441.jpg')center center / cover;
    width: 100%;
    height: 100vh;
}

.header-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
}

.header-title {
<<<<<<< HEAD
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 140px;
}

.header-button-home {
=======
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 150px;
    color: var(--primary);
}

.container_btn__header {
    display: flex;
    justify-content: space-evenly;
}

.header-button-home {
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 10px;
    margin: 0 50px 0 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.container__cart-shopping {
    position: relative;
}

.header-button-cart-shopping {
>>>>>>> df60a43d4be1a3c0d2ccdbcf0ba7dbcd547f3187
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

<<<<<<< HEAD
.header-button-cart-shopping {
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 15px 20px;
    margin-right: 25px;
    font-size: 16px;
    cursor: pointer;
}

=======
>>>>>>> df60a43d4be1a3c0d2ccdbcf0ba7dbcd547f3187
.header-button-home>svg {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: -42.5px;
    margin-right: 95px;
    cursor: pointer;
}

.header-button-home>p {
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.header-button-cart-shopping>svg {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: -42.5px;
    margin-right: 85px;
    cursor: pointer;
}

.header-button-cart-shopping>p {
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

<<<<<<< HEAD
.header__input {
    /* margin-top: -21px; */
    width: 100%;
    text-align: center;
    padding-top: 120px;
}

.header__input-title {
    margin-top: 40px;
    color: var(--light);
}

.header__input-title>span {
    color: var(--primary);
}

.header__input-tagline {
    margin-top: -20px;
    color: var(--light);
    font-size: 14px;
}

.input-box {
    margin-top: 25px;
    display: flex;
    justify-self: center;
    position: relative;
    /* margin-left: 35px; */
    width: 450px;
}

.input {
    
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 50px;
    background-color: var(--light);
    border: 3px solid var(--primary);
}
.input::placeholder{
    padding-left: 35px;
=======
.dropdown__header {
    background-color: var(--dark);
    position: absolute;
    border-radius: 10px;
    border: 3px solid var(--primary);
    width: 156px;
    padding: 10px 30px;
    right: 50px;
    top: 68px;
    transition: all 400ms ease-in-out;
}

.dropdown__header > li{
    width: 100%;
    display: block;
    text-align: center;
}

.btn-price{
    display: block;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--primary);
}

.hide{
    display: none;
    visibility: hidden;
>>>>>>> df60a43d4be1a3c0d2ccdbcf0ba7dbcd547f3187
}