@import url("./default.css");

*{
    font-family: 'IRANSANS', sans-serif;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    height: 110px;
    color: var(--primary);
}

.header-log {
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding:0 40px;
    margin-left: 50px;
}

header{
    background: url('../assets/img/header/pexels-castorlystock-3829441.jpg')center center / cover;
    width: 100%;
    height: 632px;
}

.header-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
}

.header-title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 150px;
}

.header-button-home{
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 15px 20px;
    margin-right: 50px;
    font-size: 16px;
}

.header-button-cart-shopping{
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 15px 20px;
    margin-right: 25px;
    font-size: 16px;
}

.header-button-home > svg{
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: -45px;
    margin-right: 95px;
}
.header-button-home > p{
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.header-button-cart-shopping > svg{
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: -45px;
    margin-right: 95px;
}
.header-button-cart-shopping > p{
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
