:root {
    --primary: #c5a46d;
    --dark: #1c1c1c;
    --light: aliceblue;
}

* {
    font-family: 'IRANSANS', sans-serif;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    grid-template-rows: 110px;
    color: var(--light);
}

.header-log {
    width: 95px;
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 0 40px;
    margin-left: 50px;
}

header {
    background: url('../assets/img/header/pexels-castorlystock-3829441.jpg')center center / cover;
    width: 100%;
    height: 100vh;
}

.header-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
}

.header-title {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: var(--primary);
}

.container_btn__header {
    display: flex;
    justify-content: end;
}

.header-button-home {
    margin: 0 20px;
    width: 150px;
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.container__cart-shopping {
    position: relative;
}

.header-button-cart-shopping {
    width: 150px;
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.header-button-home>svg {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: -42.5px;
    margin-right: 95px;
    cursor: pointer;
}

.header-button-home>p {
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.header-button-cart-shopping>svg {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: -42.5px;
    margin-right: 85px;
    cursor: pointer;
}

.header-button-cart-shopping>p {
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.header__input {
    width: 100%;
    text-align: center;
    padding-top: 120px;
}

.header__input-title {
    margin-top: 40px;
    color: var(--light);
}

.header__input-title>span {
    color: var(--primary);
}

.header__input-tagline {
    margin-top: -20px;
    color: var(--light);
    font-size: 14px;
}

.container__box {
    margin-top: 25px;
    display: flex;
    justify-self: center;
    position: relative;
    width: 444px;
    background-color: brown;
    border-radius: 50px;
    position: relative;

}

.container__box {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input {
    position: relative;
    height: 26px;
    width: 350px;
    padding: 10px 40px 10px 10px;
    background-color: var(--light);
    border-color: #c5a46d;
    border: 3px solid var(--primary);
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: none;
    margin-left: 45px;
}

.container__icon-box {
    position: absolute;
    margin-left: -394px;
    background-color: var(--light);
    border: 3px solid var(--primary);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
    text-decoration: none;
    height: 46px;
    width: 50px;
}

.dropdown__header {
    background-color: var(--dark);
    position: absolute;
    border-radius: 10px;
    border: 3px solid var(--primary);
    width: 156px;
    padding: 10px 30px;
    right: 50px;
    top: 68px;
    transition: all 400ms ease-in-out;
}

.dropdown__header>li {
    width: 100%;
    display: block;
    text-align: center;
}

.btn-price {
    display: block;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--primary);
}

.hide {
    display: none;
    visibility: hidden;
}