:root {
    --primary: #c5a46d;
    --dark: #1c1c1c;
    --light: aliceblue;
}

* {
    font-family: 'IRANSANS', sans-serif;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    grid-template-rows: 110px;
    color: var(--light);
}

.header-log {
    width: 95px;
    border: 3px solid var(--light);
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding: 0 25px;
    margin-left: 50px;
    transition: all 600ms;
}

.header-log:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in;
    color: var(--primary);
    box-shadow: 0 0 20px rgba(249, 194, 100, 0.9);
}

.header-log:hover .header__log-hover {
    color: var(--primary);
    transition: all 600ms;
}

header {
    background: url('../assets/img/header/pexels-castorlystock-3829441.jpg')center center / cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.header-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
}

.logo {
    width: 200px;
    height: 73px;
    margin-top: 10px;
}

.container_btn__header {
    display: flex;
    justify-content: end;
}

.header-button-home {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    margin-right: 40px;
}

.header-button-home:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in;
    color: var(--primary);
    box-shadow: 0 0 20px rgba(249, 194, 100, 0.9);
}

.container__cart-shopping {
    position: relative;
}

.header-button-cart-shopping {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: var(--light);
    padding-bottom: 28px;
    padding-left: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    transition: all 400ms ease-in-out;
}

.header-button-cart-shopping:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in;
    color: var(--primary);
    box-shadow: 0 0 20px rgba(249, 194, 100, 0.9);
}

.header__button-heart {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: var(--light);
    padding-left: 6px;
    font-size: 16px;
    cursor: pointer;
    padding-top: 9px;
    margin-right: 15px;
    transition: all 400ms ease-in-out;
}

.header__button-heart:hover {
    background-color: var(--light);
    border: 3px solid var(--primary);
    transition: all 600ms ease-in;
    color: var(--primary);
    box-shadow: 0 0 20px rgba(249, 194, 100, 0.9);
    border: 3px solid var(--primary);
}

.header-button-home>svg {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: -42.5px;
    margin-right: 95px;
    cursor: pointer;
}

.header-button-home>p {
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.header-button-cart-shopping>svg {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: -42.5px;
    margin-right: 85px;
    cursor: pointer;
}

.header-button-cart-shopping>p {
    margin-right: -25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.header__input {
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

.header__input-title {
    margin-top: 40px;
    color: var(--light);
}

.header__input-title>span {
    color: var(--primary);
}

.header__input-tagline {
    margin-top: -10px;
    color: var(--light);
    font-size: 14px;
}

.container__box {
    margin-top: 40px;
    display: flex;
    justify-self: center;
    position: relative;
    width: 605px;
    background-color: brown;
    border-radius: 50px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input {
    position: relative;
    height: 26px;
    width: 510px;
    padding: 10px 40px 10px 10px;
    background-color: var(--light);
    border-color: #c5a46d;
    border: 3px solid var(--primary);
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: none;
    margin-left: 45px;
}

.input::placeholder {
    color: #aaa;
    /* خاکستری ملایم‌تر */
    font-size: 15px;
}


.container__icon-box {
    position: absolute;
    margin-left: -555px;
    background-color: var(--light);
    border: 3px solid var(--primary);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
    text-decoration: none;
    height: 46px;
    width: 50px;
}

.dropdown__header {
    background-color: var(--dark);
    position: absolute;
    border-radius: 10px;
    border: 3px solid var(--primary);
    width: 156px;
    padding: 10px 30px;
    right: 50px;
    top: 68px;
    transition: all 400ms ease-in-out;
}

.dropdown__header>li {
    width: 100%;
    display: block;
    text-align: center;
}

.btn-price {
    display: block;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: var(--light);
    background-color: var(--primary);
}

.hide {
    display: none;
    visibility: hidden;
}