:root {
    --primary: #c5a46d;
    --dark: #1c1c1c;
    --light: aliceblue;
}

*{
    direction: rtl;
}

body{
    background-color: var(--dark);
}

.footer-box{
    display: flex;
    flex-direction: row;
}

.container__main-title-oof{
}
