:root {
    --primary: #c5a46d;
    --dark: #1c1c1c;
    --light: aliceblue;
}

@media screen and (max-width: 480px) {
    .title-parent {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .title::before {
        display: none;
    }

    .title::after {
        display: none;
    }

    .title-advantage>.title::before {
        display: none;
    }

    .title-advantage>.title::after {
        display: none;
    }

    .main-title::before {
        display: none;
    }

    .main-title::after {
        display: none;
    }



    .items-box {
        grid-template-columns: 1fr;
    }

    .header-nav {
        grid-template-areas:
            "t t"
            "b i"
        ;
        grid-template-columns: repeat(1, auto);
        border-bottom: none;
    }

    .container_btn__header {
        justify-content: center;
    }

    .container__header-title {
        grid-area: t;
        margin-left: 145px;
    }

    .header-log {
        grid-area: b;
        /* justify-self: center; */
        margin-left: 30px;
    }

    .container_btn__header {
        grid-area: i;
    }

    .header-button-home {
        margin: 0;
    }

    .header__input-title {
        font-size: 20px;
        margin-top: 15px;
    }

    .header__input-tagline {
        font-size: 13px;
    }

    .container__box {
        width: 300px;
    }

    .input {
        width: 203px;
    }

    .container__icon-box {
        margin-left: -250px;
    }

    .content-advantage {
        display: grid;
        grid-template-columns: 1fr;
    }

    .items-top {
        margin-bottom: 30px;
        border: none;
    }

    .item-advantage {
        border-bottom: 3px solid var(--primary);
        height: 300px;
    }

    .items-bottom {
        border-right: none;
    }

    .border-responsive {
        border-bottom: none;
    }

    .border-bottom {
        bottom: none;
    }

    .margin-responsive {
        margin-top: -20px;
    }

    .margin {
        margin-top: -12px;
    }

    .aboutus {
        width: 100%;
    }

    .content-aboutus {
        display: grid;
        grid-template-columns: 100%;
    }

    .aboutus__right-item {
        width: 90%;
        margin-bottom: 0;
    }

    .aboutus__left-item {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .aboutus__left-item::before,
    .aboutus__left-item::after {
        display: none;
    }


    .img-aboutus {
        width: 90%;
        margin: 0 0 30px 0;
    }

    .content-footer {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 15px 15px 20px 15px;
    }

    .container-footer {
        width: 100%;
    }

    .item-footer {
        width: 100%;
        margin: 0;
    }

    .bottom-item__footer {
        width: 100%;
    }

    .item-bottom__paragraph {
        font-size: 11px;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {

    .title-parent {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .items-box {
        grid-template-columns: 1fr;
    }

    .header-nav {
        grid-template-areas:
            "t t"
            "b i"
        ;
        grid-template-columns: repeat(1, auto);
        border-bottom: none;
    }

    .container_btn__header {
        justify-content: center;
    }

    .container__header-title {
        grid-area: t;
        margin-left: 200px;
    }

    .header-log {
        grid-area: b;
        /* justify-self: center; */
        margin-left: 30px;
    }

    .container_btn__header {
        grid-area: i;
    }

    .header-button-home {
        margin: 0;
    }

    .header__input-title {
        font-size: 32.5px;
        margin-top: 15px;
    }

    .header__input-tagline {
        font-size: 16px;
    }

    .container__box {
        width: 445px;
    }

    .input {
        width: 350px;
    }

    .container__icon-box {
        margin-left: -400px;
    }

    .items-box {
        display: grid;
        grid-template-columns: 2fr;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        margin: 0px 35px;
    }

    .item-box {
        margin: 5px;
        display: flex;
        flex-direction: row;
    }

    .content-advantage {
        display: grid;
        grid-template-columns: 1fr;
    }

    .items-top {
        margin-bottom: 30px;
        border: none;
    }

    .item-advantage {
        border-bottom: 3px solid var(--primary);
        height: 300px;
    }

    .items-bottom {
        border-right: none;
    }

    .border-responsive {
        border-bottom: none;
    }

    .border-bottom {
        bottom: none;
    }

    .title::before {
        display: none;
    }

    .title::after {
        display: none;
    }

    .title-advantage>.title::before {
        display: none;
    }

    .title-advantage>.title::after {
        display: none;
    }

    .main-title::before {
        display: none;
    }

    .main-title::after {
        display: none;
    }



    .margin-responsive {
        margin-top: -20px;
    }

    .margin {
        margin-top: -12px;
    }

    .aboutus {
        width: 100%;
    }

    .content-aboutus {
        display: grid;
        grid-template-columns: 100%;
    }

    .aboutus__right-item {
        width: 90%;
        margin-bottom: 0;
    }

    .aboutus__left-item {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .aboutus__left-item::before,
    .aboutus__left-item::after {
        display: none;
    }


    .img-aboutus {
        width: 90%;
        margin: 0 20px 30px 20px;
    }

    .content-footer {
        grid-template-columns: 90%;
        gap: 20px;
        margin: 15px 15px 20px 15px;
    }

    .container-footer {
        width: 100%;
    }

    .item-footer {
        width: 100%;
        margin: 0 15px;
    }

    .bottom-item__footer {
        width: 100%;
    }

    .item-bottom__paragraph {
        font-size: 15px;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {

    .title::before {
        display: none;
    }

    .title::after {
        display: none;
    }

    .title-advantage>.title::before {
        display: none;
    }

    .title-advantage>.title::after {
        display: none;
    }

    .main-title::before {
        display: none;
    }

    .main-title::after {
        display: none;
    }

    .header-nav {
        grid-template-areas: "b t i";
        grid-template-columns: repeat(1, auto);
        border-bottom: none;
    }

    .header-title {
        grid-area: t;
        text-align: center;
    }

    .header-log {
        grid-area: b;
        margin-right: 80px;
    }

    .container_btn__header {
        grid-area: i;
        align-items: center;
        justify-self: center;
        margin-left: 60px;
    }

    .container__box {
        width: 600px;
    }

    .input {
        width: 503px;
    }

    .container__icon-box {
        margin-left: -548px;
    }

    .content-advantage {
        display: grid;
        grid-template-columns: 1fr;
    }

    .items-top {
        margin-bottom: 30px;
        border: none;
    }

    .item-advantage {
        border-bottom: 3px solid var(--primary);
        height: 250px;
    }

    .items-bottom {
        border-right: none;
    }

    .border-responsive {
        border-bottom: none;
        height: 235px;
    }

    .border-bottom {
        bottom: none;
    }

    .margin-responsive {
        margin-top: -20px;
    }

    .margin {
        margin-top: -12px;
    }

    .items-box {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 768px) and (max-width: 885px) {


    .title::before {
        display: none;
    }

    .title::after {
        display: none;
    }

    .title-advantage>.title::before {
        display: none;
    }

    .title-advantage>.title::after {
        display: none;
    }

    .items-box {
        grid-template-columns: 1fr 1fr;
    }

    .img-box {
        object-fit: cover;
        width: 100%;
        border-bottom: none;
    }

    .main-title::before {
        display: none;
    }

    .main-title::after {
        display: none;
    }

    .content-advantage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .items-top {
        /* margin-bottom: 30px; */
        border: none;
    }

    .item-advantage {
        /* border-bottom: 3px solid var(--primary); */
        height: 250px;
    }

}

@media screen and (min-width: 886px) and (max-width: 1023px) {
    .content-advantage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .items-top {
        /* margin-bottom: 30px; */
        border: none;
    }

    .item-advantage {
        /* border-bottom: 3px solid var(--primary); */
        height: 250px;
    }

    .aboutus {
        width: 100%;
    }

    .content-aboutus {
        display: grid;
        grid-template-columns: 100%;
    }

    .aboutus__right-item {
        width: 90%;
        margin-bottom: 0;
    }

    .aboutus__left-item {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .aboutus__left-item::before,
    .aboutus__left-item::after {
        display: none;
    }


    .img-aboutus {
        width: 90%;
        margin: 0 20px 30px 20px;
    }

    .content-footer {
        grid-template-columns: 90%;
        gap: 20px;
        margin: 15px 15px 20px 15px;
    }

    .container-footer {
        width: 100%;
    }

    .item-footer {
        width: 100%;
        margin: 0 15px;
    }

    .bottom-item__footer {
        width: 100%;
    }

    .item-bottom__paragraph {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .aboutus {
        width: 100%;
    }

    .content-aboutus {
        display: grid;
        grid-template-columns: 100%;
    }

    .aboutus__right-item {
        width: 90%;
        margin-bottom: 0;
    }

    .aboutus__left-item {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .aboutus__left-item::before,
    .aboutus__left-item::after {
        display: none;
    }


    .img-aboutus {
        width: 90%;
        margin: 0 20px 30px 20px;
    }

    .content-footer {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "t t"
            "b b";
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 15px 15px 20px 15px;
    }

    .container-footer {
        width: 100%;
    }

    .item-footer:last-child {
        grid-area: b;
    }

    .item-footer {
        width: 100%;
        margin: 0 15px;
    }

    .bottom-item__footer {
        width: 100%;
    }

    .item-bottom__paragraph {
        font-size: 15px;
    }
}